<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mapper.EventMapper">

 <select id="eventList">
 	select *
 	from tbl_event
 </select>
 
 <insert id="insertEvent" parameterType="map">
 	insert into tbl_event (title, start_date, end_date)
 	values (#{title}, #{startDate}, #{endDate})
 </insert>
 
 <delete id="deleteEvent">
 	delete from tbl_event
 	where title = #{title}
 </delete>
</mapper>