<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mapper.BoardMapper">

	<select id="selectList" resultType="board" parameterType="int">
		select ta.*
		from (select /*+ INDEX_DESC(b PK_BOARD) */ rownum rn,b.*
		   	  from tbl_board b)ta
		where ta.rn > (#{page} - 1) * 5
		<![CDATA[
		and ta.rn <= #{page} * 5
		]]>
	</select>

	<select id="selectBoard" parameterType="int"
		resultType="com.yedam.vo.BoardVO">
		select *
		from tbl_board
		where board_no = #{boardNo}
	</select>

	<update id="updateCount" parameterType="int">
		update tbl_board
		set
		view_cnt = view_cnt + 1,
		last_update_date = sysdate
		where board_no = #{boardNo}
	</update>

	<!-- insert -->
	<insert id="insertBoard" parameterType="board">
		insert into tbl_board
		(board_no, title, content, writer)
		values(board_seq.nextval, #{title},
		#{content}, #{writer})
	</insert>

	<!-- delete -->
	<delete id='deLeteBoard' parameterType="int">
		delete from tbl_board
		where board_no = #{boardNo}
	</delete>
</mapper>